<ActionBar title="On It"></ActionBar>

<FlexboxLayout>

    
        



    <StackLayout>


        <div class="form">
            
            <Label text="Welcome to the Home Page User."></Label>

            <Button class="btn btn-primary" text="Go To List" (tap)="goToList()"></Button>

            <Button text="Go To TaskList" (tap)="goToTaskList()"></Button>

            <Label text="Is this centered?"></Label>
            <Label text="No, but this should be"></Label>

        



        </div>
        

    </StackLayout>

</FlexboxLayout>