<ActionBar title="On It"></ActionBar>

<FlexboxLayout>

    
        



    <StackLayout>


        <div class="form">
            
            <Label text="Welcome to the Home Page User."></Label>

            <Button text="Go To TaskList" (tap)="goToTaskList()"></Button>

            <Label text="A piece of advice for the day:"></Label>
            <Label text="Failure is inevitable. Learn  from it, not fear it."></Label>

            <!--<Label text="Is this centered?"></Label>
            <Label text="No, but this should be"></Label>
            -->
        
        </div>
        

    </StackLayout>

</FlexboxLayout>