FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    /*background-image: url("~/images/time-management-background.jpg"); */
}

StackLayout {
    width: 0%;
    padding: 10 16;
    background-color: #f0f0f0;
}

.btn-primary {
    margin-left: 0;
    margin-right: 0;
    color: #f0f0f0
}