@import "~nativescript-theme-core/css/sky.css";

ActionBar {
    background-color: #0EA7E7;
    color: white;
}

.test {
    color: green;
}

Image {
    margin-bottom: 20;
    height: 70;
}

Button,
TextField {
    margin-bottom: 10;
}

.btn-primary {
    background-color: darkorange;
    margin-left: 0;
    margin-right: 0;
}

ListView{
    padding: 10;
}

TextField {
    /*placeholder-color: #C4AFB4; */
    color: black;
}