<ActionBar class="action-bar" title="Create Task">
  <NavigationButton android.systemIcon="ic_menu_back" text="Back to ActionBar" (tap)="goBack()"></NavigationButton>
  <ActionItem (tap)="addTask()" android.systemIcon="ic_menu_add"></ActionItem>
</ActionBar>

<GridLayout rows="auto, auto">
  <!-- GridLayout that holds everything in the page. 1st row for the textFields. 2nd row for the radList -->

  <StackLayout class="task-stack">

    <!-- TextField for title of the task -->
    <TextField class="input-bar" #taskTitleTextField [(ngModel)]="task.title" hint="Title"
      (returnPress)="onReturn($event)" row="0"></TextField>

    <!-- TextField for details for the task -->
    <TextField class="input-bar" #detailsTextField [(ngModel)]="task.details" hint="Details" row="1">
    </TextField>

    <!-- Priority -->
    <PickerField class="input-bar" pickerTitle="Priority" itemTemplate="input-bar" hint="Priority" [items]="listPickerPriority"
      #priorityPickerField [(ngModel)]="task.priority" row="2">
    </PickerField>

    <!-- Start Date and Time -->
    <DatePickerField class="input-bar" hint="Start date" [(ngModel)]="task.start_date" [year]="currentYear"
      [month]="currentMonth" [day]="currentDay" minDate="1970-01-01" maxDate="2100-12-31" row="3"></DatePickerField>
    <TimePickerField class="input-bar" hint="Time" row="4"></TimePickerField>

    <!-- Due Date and Time -->
    <DatePickerField class="input-bar" hint="Due date" [(ngModel)]="task.due_date" [year]="currentYear"
      [month]="currentMonth" [day]="currentDay" minDate="1970-01-01" maxDate="2100-12-31" row="5"></DatePickerField>
    <TimePickerField class="input-bar" hint="Time" row="6"></TimePickerField>

  </StackLayout>
</GridLayout>