Image {
  margin-bottom: 20;
  height: 70;
}
Button, TextField {
  margin-bottom: 10;
}

TextField {
  /*placeholder-color: #C4AFB4; */
  color: black;
}
FlexboxLayout {
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("~/images/time-management-background.jpg");
} 
StackLayout {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
}

.signup {
  background-color: rgb(255, 255, 255);
}
.signup TextField {
  color:  rgb(0, 0, 0);
}